<!DOCTYPE html>
<html>
    <head>
        <title></title>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> 

         <link href="css/styles.css" rel="stylesheet"> 
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <a class="navbar-brand" href="/">Freibad XY</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/register">Buchung <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users">Momentane Auslastung</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Weitere Informationen</a>
                    </li>
                </ul>
            </div>
        </nav>


        <div class="jumbotron text-center">
            <h2>Zur Nutzung des Freibads</h2>
            <div class="text-center">
                 Aufgrund von Covid-19 muss das Freibad strengen Auflagen folgen. Damit ein Hygienekonzept lückenlos funktionieren kann, sind wir darauf angewiesen, dass Sie sich für Ihren Besuch registrieren.Dies können Sie bis zu 48 Stunden im Vorraus tun. Der Service ist selbstverständlich kostenlos und unverbindlich. Wir bitten Sie aber, ihre Buchung zu stornieren, falls Sie sie nicht mehr wahrnehmen können.
            </div>
        </div>
    </body>
</html>