<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
    </head>

  <body>
        <form action="users" method="POST">
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>