<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/head") %>
    </head>
    <body>
        <header>
            <%- include ("../partials/header") %>
        </header>

        <main role="main" class="container">
            <div class="jumbotron">
                <h1>Zur Nutzung des Freibads</h1>
                <p class="lead">Aufgrund von Covid-19 muss das Freibad strengen Auflagen folgen. Damit ein Hygienekonzept lückenlos funktionieren kann, sind wir darauf angewiesen, dass Sie sich für Ihren Besuch registrieren.Dies können Sie bis zu 48 Stunden im Vorraus tun. Der Service ist selbstverständlich kostenlos und unverbindlich. Wir bitten Sie aber, ihre Buchung zu stornieren, falls Sie sie nicht mehr wahrnehmen können.</p>
                <p class="lead">
            </div>
        </main>
        
        <footer>
            <%- include ("../partials/footer") %>
        </footer>
    </body>
</html>