<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/head") %>
    </head>
    <body>
        <header>
            <%- include ("../partials/header") %>
        </header>

        <main role="main" class="container">
            <div class="jumbotron">
                <h1>Buchung</h1>
                <p class="lead">Hier können Sie für sich und Ihre Familie Ihren Freibadbesuch buchen.</p>
                <form class="form-signin" action="/users/add" method="POST">                  
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" class="form-control" placeholder="" required autofocus>
                            
                        </div> 
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="fname">  Vorname</label>
                            <input type="text" id="fname" name="fname" class="form-control" placeholder="" required autofocus>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="lname">Nachname</label>
                            <input type="text" id="lname" name="lname" class="form-control" placeholder="" required autofocus>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="street">Straße</label>
                            <input type="text" id="street" name="street" class="form-control" placeholder="" required autofocus>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="streetNumber">Nr.</label>
                            <input type="text" id="streetNumber" name="streetNumber" class="form-control" placeholder="" required autofocus>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="plz">Postleitzahl</label>
                            <input type="text" id="plz" name="plz" class="form-control" placeholder="" required autofocus>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="city">Stadt</label>
                            <input type="text" id="city" name="city" class="form-control" placeholder="" required autofocus>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="numberOfPersons">+ Personen</label>
                            <input type="number" id="numberOfPersons" min="0" max="10" name="numberOfPersons" class="form-control" placeholder=""   autofocus>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Buchen</button>
                </form>
            </div>
        </main>

        <footer>
            <%- include ("../partials/footer") %>
        </footer>
    </body>
</html>